<div class="header-container" *ngIf="album">
  <div class="col-1">
    <img [src]="album.image">
  </div>
  <div class="col-2">
    <div class="playlist">TRACKS</div>
    <div class="playlist-title">{{ album.name }}</div>
    <div class="playlist-desc">By {{ album.artist }}</div>
    <div class="action-buttons">
      <button class="play-btn btn btn-small">PLAY</button>
      <button class="follow-btn btn btn-small">FOLLOW</button>
      <button class="more-btn btn"></button>
    </div>
  </div>
  <div class="col-3">
    <div class="stats">
      <div>FOLLOWERS</div>
      <div>172,229</div>
    </div>
  </div>
</div>
<div class="playlist-list" *ngIf="tracks">
  <div class="row playlist-field-head">
    <div class="col-xs-4 col-md-4 col-md-offset-1">SONG</div>
    <div class="col-xs-3 col-md-3">ARTIST</div>
    <div class="col-xs-3 col-md-3">ALBUM</div>
    <div class="col-xs-1 col-md-1 col-time"></div>
  </div>
  <a *ngFor="#track of tracks" [href]="track.sourceUrl"  target="_blank">
    <div class="row playlist-field" *ngFor="#track of tracks">
      <div class="col-xs-4 col-md-4 col-md-offset-1">{{ track.title }}</div>
      <div class="col-xs-3 col-md-3">{{ album.artist }}</div>
      <div class="col-xs-3 col-md-3">{{ album.name }}</div>
      <div class="col-xs-1 col-md-1">{{ album.duration }}</div>
    </div>
  </a>
</div>